In [1]:
### first import the data
import pandas as pd
import numpy as np

In [2]:
cl_data= pd.read_csv("D:\\4 Aug 2020\\Loan prediction\\cleaned data.csv")

In [3]:
cl_data.drop(['Unnamed: 0'],inplace=True,axis=1)

In [4]:
cl_data.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,No,0,Graduate,No,5849,0.0,128.0,360.0,1.0,Urban,Y
1,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [10]:
X= cl_data.drop('Loan_Status',axis=1)
y=cl_data['Loan_Status'].values

In [12]:
#### convert categorical into dummy

In [13]:
X=pd.get_dummies(X)

In [15]:
X.head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Female,Gender_Male,Married_No,Married_Yes,Dependents_0,...,Dependents_2,Dependents_3+,Dependents_Male,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,5849,0.0,128.0,360.0,1.0,0,1,1,0,1,...,0,0,0,1,0,1,0,0,0,1
1,4583,1508.0,128.0,360.0,1.0,0,1,0,1,0,...,0,0,0,1,0,1,0,1,0,0
2,3000,0.0,66.0,360.0,1.0,0,1,0,1,1,...,0,0,0,1,0,0,1,0,0,1
3,2583,2358.0,120.0,360.0,1.0,0,1,0,1,1,...,0,0,0,0,1,1,0,0,0,1
4,6000,0.0,141.0,360.0,1.0,0,1,1,0,1,...,0,0,0,1,0,1,0,0,0,1

In [16]:
#### Split the data into train and test

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,random_state=10)

In [19]:
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(429, 21)
(429,)
(185, 21)
(185,)

In [21]:
#### Modelling the data

In [22]:
from sklearn.linear_model import LogisticRegression

In [23]:
lr = LogisticRegression()

In [24]:
#### fit the model
lr.fit(X_train,y_train)

LogisticRegression()

In [26]:
### prediction
y_pred=lr.predict(X_test)

In [27]:
#### Model evaluation
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report

In [28]:
print(accuracy_score(y_test,y_pred))

0.7783783783783784

In [30]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           N       0.72      0.35      0.47        52
           Y       0.79      0.95      0.86       133

    accuracy                           0.78       185
   macro avg       0.75      0.65      0.66       185
weighted avg       0.77      0.78      0.75       185

In [32]:
print(confusion_matrix(y_test,y_pred))

[[ 18  34]
 [  7 126]]